#black_flag {
	position: absolute;
	z-index: 2;
	display: block;
	top: 0px;
	background-Color: black;
	height: 1%;
	width: 100%;
}

#white1_flag {
	position: absolute;
	z-index: 1;
	top: 0px;
	display: block;
	background-Color: white;
	height: 1%;
	width: 100%;
}

#right_img_top {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 111;
}

#right_img_red_mid {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 110;
}

#right_img_green {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 109;
}
