#green_flag {
	position: absolute;
	z-index: 8;
	display: block;
	top: 0px;
	background-Color: green;
	width: 100%;
}

#white1_flag {
	position: absolute;
	z-index: 5;
	top: 0px;
	display: block;
	background-Color: white;
	width: 100%;
}

#red_flag {
	position: absolute;
	z-index: 6;
	top: 0px;
	display: block;
	background-Color: red;
	width: 100%;
}

#white2_flag {
	position: absolute;
	z-index: 7;
	top: 0px;
	display: block;
	background-Color: white;
	width: 100%;
}

#black_top_img {
	display: block;
	height: 85%;
	position: fixed;
	z-index: 1;
}

#red_top_img {
	display: block;
	height: 85%;
	position: fixed;
	z-index: 0;
}

#green_top_img {
	display: block;
	height: 85%;
	position: fixed;
	z-index: -1;
}

#black_img {
	top: "5%";
	display: block;
	position: absolute;
	bottom: 55px;
}
