#green_flag {
	position: absolute;
	z-index: 8;
	display: block;
	top: 0px;
	background-Color: green;
	width: 100%;
}

#white1_flag {
	position: absolute;
	z-index: 5;
	top: 0px;
	display: block;
	background-Color: white;
	width: 100%;
}

#red_flag {
	position: absolute;
	z-index: 6;
	top: 0px;
	display: block;
	background-Color: red;
	width: 100%;
}

#white2_flag {
	position: absolute;
	z-index: 7;
	top: 0px;
	display: block;
	background-Color: white;
	width: 100%;
}

#right_img_top {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 111;
}

#right_img_red_mid {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 110;
}

#right_img_green {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 109;
}
