.title {
    margin-left: 10px;
    margin-right: 10px;
}

.title_options{
    margin-left: 15px;
}

.main_tool_bar {
    box-shadow: 2px 2px 5px #000000;
}

.mat-sidenav-container{
    height: 100%;
    width: 100%;
}
