#right_img_top {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 99;
}

#right_img_red_mid {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 98;
}

#right_img_green {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 85%;
	bottom: 30px;
	position: absolute;
	z-index: 97;
}
