#right {
  background-color: black;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 50;
  right: 0;
  z-index: 99;
}

#right_img_top {
	height: 100%;
	bottom: -13%;
	position: absolute;
	z-index: 99;
}

#right_img_red_mid {
	height: 100%;
	bottom: -13%;
	position: absolute;
	z-index: 98;
	left: 5px;
}

#right_img_green {
	height: 100%;
	bottom: -13%;
	position: absolute;
	z-index: 97;
	left: 10px;
}
